/*ajax-loader*/
.ajax-loader {
    position: absolute;
    width: 48px;
    height: 48px;
    z-index: 1001;
    background: white url(../../img/ajax-loader.gif) no-repeat;
    border-radius: 6px;
}

.popup-back, .blurred-page {
    top: 0;
    left: 0;
    position: absolute;
}

.blurred-page {
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
}

.dark-op {
    background-color: black;
    opacity: 0.8;
}

.light-op {
    background-color: white;
    opacity: 0.5;
}

.popup-self {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 400px;
    border-radius: 6px;
    background-color: #fdfdfd;
    box-shadow: 0px 6px 30px 2px #A9A9A9;
}

.popup-header {
    padding: 6px 16px;
    background-color: #93D600;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.popup-close-block {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 37px;
    border-top-right-radius: 6px;
    background: #7EB507;
}

.popup-close {
    background: url(../../img/popup-close.png) no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.4;
}

.popup-close:hover {
    opacity: 0.7;
}

.popup-title {
    font-size: 1.4em;
    font-weight: 600;
    color: #fdfdfd;
}

.popup-content {
    padding: 16px 24px;
}

.popup-content .message-container .message.shown {
    margin-bottom: 10px;
    font-size: 14px;
}

.popup-content .forms {
    padding-top: 10px;
}

.popup-content .forms input, .popup-content .forms select, .popup-content .forms textarea {
    width: 100%;
    background: #F5F5F5;
    box-shadow: inset -1px 1px 3px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: inset -1px 1px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset -1px 1px 3px 0px rgba(0,0,0,0.1);
}

.popup-content .forms input, .popup-content .forms select {
    height: 2.8em;
}

.popup-content .forms input.input-error,
.popup-content .forms textarea.input-error,
.popup-content .forms select.input-error,
.popup-content .forms .input-error {
    border-color: #d70a16;
    box-shadow: 0 0 0 2px rgba(215, 10, 22, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.popup-content .popup-text-block {
    line-height: 1.6em;
    font-size: 16px;
    padding-bottom: 10px;
}

.forms .forgot-pass {
    margin-top: -20px;
    padding-bottom: 5px;
    font-style: italic;
    text-align: right;
    font-size: 12px
}

.btn-popup {
    color: #fff;
    background-color: #93D600;
    border-color: #7BB104;
}

@media (min-width: 768px) {
    .popup-self {
        width: auto;
        max-width: 50%;
    }

    .popup-content .forms input, .popup-content .forms textarea {
        width: 320px;
    }
}